<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Quicksand:wght@500&display=swap" rel="stylesheet">

<footer class="seccion-oscura d-flex flex-column justify-content-center align-items-center">

<img class="footer-icono" src="./././assets/img/icono-blanco.svg" alt=""> 

<p class="footer-texto">Aprendo y creo todo los dias
    <br> creemos un proyecto juntos
</p>

<div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
    <a href="https://www.facebook.com/miguelangel.suarezplata.3" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-facebook"></i>
    </a>

    <a href="https://www.instagram.com/miguelsuarez25466/" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-instagram"></i>
    </a>

    <a href="https://www.linkedin.com/in/miguel-angel-suarez-a8b77324a/" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-linkedin"></i>
    </a>

    <a href="mailto:miguelangelsuarezplata480@gmail.com" target="_blank" rel="noopener noreferrer">
        
            <i class="bi bi-envelope"></i>
        </a>

        <a href="https://github.com/miguel12s" target="_blank" rel="noopener noreferrer">
        
            <i class="bi bi-github"></i>
        </a>


</div>
<div class="derechos-de-autor">Hecho por Miguel Suarez (2023) &#169;</div>

</footer>
