<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

<section class="experiencia seccion-clara">


<div class="container text-center">

<div class="row">
    <div class="column col-12 col-md-6">

        <i class="bi bi-laptop text-dark"></i>
<p class="experiencia-titulo">Desarrollo Web</p>
<p >me encanta desarrollar paginas web para dar vida a mis pensamientos e ideas acerca de este mismo desarrollo y plasmandolo gracias al navegador  </p>
<div class="badges-container">
   
    <a class="badge text-bg-primary">Html</a>
    <a class="badge text-bg-primary">Css</a>
    <a class="badge text-bg-primary">Javascript</a>
    <a class="badge text-bg-primary">Typescript</a>
    <a class="badge text-bg-primary">Git</a>
    <a class="badge text-bg-primary">Angular</a>
   
    <a class="badge text-bg-primary">Python</a>
    <a class="badge text-bg-primary">Sql</a>
    <a class="badge text-bg-primary">Flask</a>



</div>

    </div>

    <div class="column col-12 col-md-6">
        <i class="bi bi-laptop text-dark"></i>
        <p class="experiencia-titulo">Estudiante</p>
        <p > Actualmente curso  la carrera de tecnologo en sistemas informaticos en la institucion universitaria de barranquilla , En la universidad  no me gusta quedarme con lo que me enseñan por lo tanto investigo y pruebo distintas tecnologias diferentes que hagan que el desarrollo web sea mas facil y rapido  </p>
        <div class="badges-container">
           
            <a class="badge text-bg-primary">freeCodeCamp</a>
            <a class="badge text-bg-primary">Dominicode</a>
            <a class="badge text-bg-primary">Fernando Herrera</a>
            <a class="badge text-bg-primary">Pildoras Informaticas</a>
            <a class="badge text-bg-primary">Docs Angular</a>
            
        
        
        </div>
    </div>
</div>



</div>




</section>