<section class=" sobre-mi seccion-oscura">
    <div class="contenedor">
        <h2 class="seccion-titulo">Hola , Mi nombre es miguel suarez encantado de conocerte .</h2>
        <p class="seccion-texto"> 
            
            desde que empeze en el mundo del desarrollo de software , he visto que son muchas las empresas que se ayudan con la tecnologia creando paginas o sistemas que permitan automatizar tareas o innovar algun tipo de producto o de servicio , aunque actualmente no tenga experiencia quiero ser parte de algun proceso en el que pueda ayudar ya sea desarrollando alguna pagina en la cual a futuro obtenga un buen reconocimiento
            <br><br><br><br>

        </p>
    </div>

</section>