<section class="proyectos-recientes seccion-clara d-flex flex-column">
<h2 class="seccion-titulo texto-negro">Mis proyectos recientes</h2>
<h3 class="seccion-descripcion">Estos son algunos proyectos que he realizados</h3>

<div class="container text-center proyectos-contenedor">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="proyecto">
                <img src="../../../assets/img/2023-02-18 (1).png" alt="">
                <div class="overlay">
                    <p>Proyecto 1</p>
                    <div class="iconos-contenedor">
                        <a href="https://github.com/miguel12s/FirstAngular" target="_blank" rel="noopener noreferrer"> <i class="bi bi-github"></i></a>
                        <a href="https://miguel12s.github.io/FirstAngular/"><i class="bi bi-laptop"></i> </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <div class="proyecto">
                <img src="../../../assets/img/proyecto1.png" alt="">
                <div class="overlay">
                    <p>Proyecto 2</p>
                    <div class="iconos-contenedor">
                        <a href="" target="_blank" rel="noopener noreferrer"> <i class="bi bi-github"></i></a>
                        <a href=""><i class="bi bi-laptop"></i> </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <div class="proyecto">
                <img src="../../../assets/img/proyecto1.png" alt="">
                <div class="overlay">
                    <p>Proyecto 3</p>
                    <div class="iconos-contenedor">
                        <a href="" target="_blank" rel="noopener noreferrer"> <i class="bi bi-github"></i></a>
                        <a href=""><i class="bi bi-laptop"></i> </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <div class="proyecto">
                <img src="../../../assets/img/proyecto1.png" alt="">
                <div class="overlay">
                    <p>Proyecto 4</p>
                    <div class="iconos-contenedor">
                        <a href="" target="_blank" rel="noopener noreferrer"> <i class="bi bi-github"></i></a>
                        <a href=""><i class="bi bi-laptop"></i> </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <div class="proyecto">
                <img src="../../../assets/img/proyecto1.png" alt="">
                <div class="overlay">
                    <p>Proyecto 5</p>
                    <div class="iconos-contenedor">
                        <a href="" target="_blank" rel="noopener noreferrer"> <i class="bi bi-github"></i></a>
                        <a href=""><i class="bi bi-laptop"></i> </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <div class="proyecto">
                <img src="../../../assets/img/proyecto1.png" alt="">
                <div class="overlay">
                    <p>Proyecto 6</p>
                    <div class="iconos-contenedor">
                        <a href="" target="_blank" rel="noopener noreferrer"> <i class="bi bi-github"></i></a>
                        <a href=""><i class="bi bi-laptop"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="https://github.com/miguel12s/" target="_blank" rel="noopener noreferrer">
<button class="btn btn-info">
    
    
    Ver mas proyectos
<i class="bi bi-arrow-right-circle-fill"></i>

</button>
</a>

</section>