<section class="contacto seccion-oscura">
   <div class="container">
    <div class="container text-center rectangulo d-flex justify-content-evenly ">
        <div class="row ">
            <div class="col-12 col-md-4 seccion-titulo">
                ¡Hablemos!
            </div>
            <div class="col-12 col-md-4 descripcion">
                Contactame para iniciar tu  Proyecto de desarrollo web y hare que tu vision se haga realidad
            </div>
            <div class="col-12 col-md-4">
            <a href="mailto:miguelangelsuarezplata480@gmail.com">
                <button type="button">
                    Contacto
                    <i class="bi bi-envelope-check-fill"></i>
                </button>
            </a>
        </div>
        </div>
    </div>
   </div>
</section>
