<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap" rel="stylesheet">


<section class="hero align-items-strech">
<div class="hero-principal d-flex flex-column justify-content-venter align-items-center">
    <img class="hero-img-desarrollador" src="./././assets/img/desarrolladorSvg.svg" alt="foto de Miguel Suarez">
    <h1> Hola, soy Miguel Suarez</h1>
        <h2> Desarrollo sitios web y me encanta aprender viendo cursos o desarrollando proyectos </h2>
</div>
<div class="hero-inferior">
    <img class="hero-img-inferior img-fluid"src="./././assets/img/hero-inferior.svg" alt=""></div>
</section>




