section{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}





.hero{
    background-color: #fff;
    min-height: 450px;
    text-align: center;
}

.hero-principal{
    padding: 3rem;
}

.hero-img-desarrollador{
    width: 200px;
    height: 200px;
    margin:20px;
   opacity: 0.8;
    
}

.hero-principal h2{
    font-size: 1.5rem;
    color:#615151;
}

.hero-img-inferior{
    width: 50%;
}

h1{
    font-family: 'Rubik Dirt', cursive;
}

@media screen and(min-width:700px) {
    .hero-img-inferior{
        max-width: 600px;
    }
}

